@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex gap-3 align-items-center">
            <a href="https://www.instagram.com/go_torz/" target="_blank">
                <img src="images/instagram-icon.jpg" alt="Instagram" height="24" />
            </a>
            <a href="https://www.youtube.com/channel/UCW_TVt0fFu2Yab1qDwfVnaQ" target="_blank">
                <img src="images/youtube-icon.png" alt="YouTube" height="24" />
            </a>
            <a href="https://www.facebook.com/GodTurGermany" target="_blank">
                <img src="images/facebook-icon.jpg" alt="Facebook" height="24" />
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
