@page "/vacationrequests"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GotorzProjectMain.Models
@using GotorzProjectMain.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GotorzProjectMain.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="vacationrequests/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.VacationRequests">
    <PropertyColumn Property="vacationrequest => vacationrequest.Country" />
    <PropertyColumn Property="vacationrequest => vacationrequest.StartDate" />
    <PropertyColumn Property="vacationrequest => vacationrequest.EndDate" />
    <PropertyColumn Property="vacationrequest => vacationrequest.ChildrenAmount" />
    <PropertyColumn Property="vacationrequest => vacationrequest.AdultsAmount" />
    <PropertyColumn Property="vacationrequest => vacationrequest.RoomsAmount" />
    <PropertyColumn Property="vacationrequest => vacationrequest.HotelRequest" />
    <PropertyColumn Property="vacationrequest => vacationrequest.FlightRequest" />
    <PropertyColumn Property="vacationrequest => vacationrequest.Misc" />
    <PropertyColumn Property="vacationrequest => vacationrequest.Status" />
    <PropertyColumn Property="vacationrequest => vacationrequest.UserId" />

    <TemplateColumn Context="vacationrequest">
        <a href="@($"vacationrequests/edit?vacationrequestid={vacationrequest.VacationRequestId}")">Edit</a> |
        <a href="@($"vacationrequests/details?vacationrequestid={vacationrequest.VacationRequestId}")">Details</a> |
        <a href="@($"vacationrequests/delete?vacationrequestid={vacationrequest.VacationRequestId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
