@page "/Account/Lockout"
<PageTitle>Locked out</PageTitle>

<div class="d-flex justify-content-center">
    <div class="border border-dark rounded-3 p-5 text-center shadow" style="max-width: 500px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#dc3545" viewBox="0 0 16 16" class="mb-4">
            <path d="M7.938 2.016a.13.13 0 0 1 .125 0l6.857 11.856c.03.05.045.106.045.163a.267.267 0 0 1-.267.265H1.302a.267.267 0 0 1-.267-.265.28.28 0 0 1 .045-.163L7.938 2.016zm.862 10.23a1 1 0 1 0-1.6 1.135 1 1 0 0 0 1.6-1.134zm-.86-6.155a.905.905 0 0 0-.9.995l.35 3.507a.55.55 0 0 0 1.1 0l.35-3.507a.905.905 0 0 0-.9-.995z" />
        </svg>
        <i class="bi bi-exclamation-circle-fill text-warning fs-1 mb-4"></i>

        <h1>You have been locked out of this site</h1>

        <br <p>
            Your account has been locked for <strong>15 minutes</strong><br />
            due to multiple failed login attempts.
        </p>

        <div class="text-body">
            <p>
				<strong>Please wait and try again later.</strong><br />
            </p>
        </div>

        <a href="account/login" class="btn btn-outline-primary mt-3">Back to Login</a>
    </div>
</div>
