@page "/customers"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Authorization
@using GotorzProjectMain.Models
@using GotorzProjectMain.Data
@using System.Linq
@inject Services.IExtendedUserService UserService

@attribute [Authorize(Policy = "Admin")]

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>
    <a href="/Account/RegisterCustomer">Create New</a>
</p>


<!-- Had to change context.customers to customers.AsQueryable() -->
<QuickGrid Class="table" Items="customers.AsQueryable()">
    <PropertyColumn Property="customer => customer.CustomUserName" Title="Username" />
    <PropertyColumn Property="customer => customer.User.FirstName" Title="First Name" />
    <PropertyColumn Property="customer => customer.User.LastName" Title="Last Name" />
    <PropertyColumn Property="customer => customer.User.Email" Title="Email" />
    <PropertyColumn Property="customer => customer.User.PhoneNumber" Title="Phone Number" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?id={customer.Id}")">Edit</a> |
        <a href="@($"customers/details?id={customer.Id}")">Details</a> |
        <a href="@($"customers/delete?id={customer.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {

    private List<Customer> customers = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            customers = await UserService.GetCustomersWithUsersAsync();
        }
        catch(Exception ex)
        {
            // Handle the exception (e.g., log it, show a message, etc.)
            Console.WriteLine($"Error fetching customers: {ex.Message}");
        }
    

    }

}
