@page "/hotelbookings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GotorzProjectMain.Models
@using GotorzProjectMain.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GotorzProjectMain.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="hotelbookings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.HotelBookings">
    <PropertyColumn Property="hotelbooking => hotelbooking.HotelName" />
    <PropertyColumn Property="hotelbooking => hotelbooking.Address" />
    <PropertyColumn Property="hotelbooking => hotelbooking.RoomDescription" />
    <PropertyColumn Property="hotelbooking => hotelbooking.TotalPrice" />
    <PropertyColumn Property="hotelbooking => hotelbooking.BookingInformationLink" />
    <PropertyColumn Property="hotelbooking => hotelbooking.HotelLink" />
    <PropertyColumn Property="hotelbooking => hotelbooking.CheckInDate" />
    <PropertyColumn Property="hotelbooking => hotelbooking.CheckOutDate" />
    <PropertyColumn Property="hotelbooking => hotelbooking.Misc" />
    <PropertyColumn Property="hotelbooking => hotelbooking.VacationOfferId" />

    <TemplateColumn Context="hotelbooking">
        <a href="@($"hotelbookings/edit?hotelbookingid={hotelbooking.HotelBookingId}")">Edit</a> |
        <a href="@($"hotelbookings/details?hotelbookingid={hotelbooking.HotelBookingId}")">Details</a> |
        <a href="@($"hotelbookings/delete?hotelbookingid={hotelbooking.HotelBookingId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
